In [1]:
import pandas as pd

In [22]:
dataset=pd.read_csv("CKD (2).csv")

In [23]:
dataset

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,2.000000,76.459948,c,3.0,0.0,normal,abnormal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,yes,no,yes
1,3.000000,76.459948,c,2.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,34.000000,12300.000000,4.705597,no,no,no,yes,poor,no,yes
2,4.000000,76.459948,a,1.0,0.0,normal,normal,notpresent,notpresent,99.000000,...,34.000000,8408.191126,4.705597,no,no,no,yes,poor,no,yes
3,5.000000,76.459948,d,1.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,poor,yes,yes
4,5.000000,50.000000,c,0.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,36.000000,12400.000000,4.705597,no,no,no,yes,poor,no,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,219.000000,...,37.000000,9800.000000,4.400000,no,no,no,yes,poor,no,yes
395,51.492308,70.000000,c,0.0,2.0,normal,normal,notpresent,notpresent,220.000000,...,27.000000,8408.191126,4.705597,yes,yes,no,yes,poor,yes,yes
396,51.492308,70.000000,c,3.0,0.0,normal,normal,notpresent,notpresent,110.000000,...,26.000000,9200.000000,3.400000,yes,yes,no,poor,poor,no,yes
397,51.492308,90.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,207.000000,...,38.868902,8408.191126,4.705597,yes,yes,no,yes,poor,yes,yes
398,51.492308,80.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,100.000000,...,53.000000,8500.000000,4.900000,no,no,no,yes,poor,no,no

In [24]:
dataset.isnull().sum()

age               0
bp                0
sg                0
al                0
su                0
rbc               0
pc                0
pcc               0
ba                0
bgr               0
bu                0
sc                0
sod               0
pot               0
hrmo              0
pcv               0
wc                0
rc                0
htn               0
dm                0
cad               0
appet             0
pe                0
ane               0
classification    0
dtype: int64

In [25]:
def quanqual(dataset):
    quan=[]
    qual=[]
    for columnName in dataset.columns:
          #print(columnName)
        if(dataset[columnName].dtypes=='O'):
            #print("qual")
            qual.append(columnName)
        else:
            #print ("quan")
            quan.append(columnName)
    return quan,qual

In [26]:
quanqual

In [27]:
quan,qual=quanqual(dataset)

In [28]:
quan

['age',
 'bp',
 'al',
 'su',
 'bgr',
 'bu',
 'sc',
 'sod',
 'pot',
 'hrmo',
 'pcv',
 'wc',
 'rc']

In [29]:
qual

['sg',
 'rbc',
 'pc',
 'pcc',
 'ba',
 'htn',
 'dm',
 'cad',
 'appet',
 'pe',
 'ane',
 'classification']

In [31]:
dataset[quan]

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,pcv,wc,rc
0,2.000000,76.459948,3.0,0.0,148.112676,57.482105,3.077356,137.528754,4.627244,12.518156,38.868902,8408.191126,4.705597
1,3.000000,76.459948,2.0,0.0,148.112676,22.000000,0.700000,137.528754,4.627244,10.700000,34.000000,12300.000000,4.705597
2,4.000000,76.459948,1.0,0.0,99.000000,23.000000,0.600000,138.000000,4.400000,12.000000,34.000000,8408.191126,4.705597
3,5.000000,76.459948,1.0,0.0,148.112676,16.000000,0.700000,138.000000,3.200000,8.100000,38.868902,8408.191126,4.705597
4,5.000000,50.000000,0.0,0.0,148.112676,25.000000,0.600000,137.528754,4.627244,11.800000,36.000000,12400.000000,4.705597
...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,0.0,0.0,219.000000,36.000000,1.300000,139.000000,3.700000,12.500000,37.000000,9800.000000,4.400000
395,51.492308,70.000000,0.0,2.0,220.000000,68.000000,2.800000,137.528754,4.627244,8.700000,27.000000,8408.191126,4.705597
396,51.492308,70.000000,3.0,0.0,110.000000,115.000000,6.000000,134.000000,2.700000,9.100000,26.000000,9200.000000,3.400000
397,51.492308,90.000000,0.0,0.0,207.000000,80.000000,6.800000,142.000000,5.500000,8.500000,38.868902,8408.191126,4.705597
398,51.492308,80.000000,0.0,0.0,100.000000,49.000000,1.000000,140.000000,5.000000,16.300000,53.000000,8500.000000,4.900000

In [32]:
dataset[qual]

,sg,rbc,pc,pcc,ba,htn,dm,cad,appet,pe,ane,classification
0,c,normal,abnormal,notpresent,notpresent,no,no,no,yes,yes,no,yes
1,c,normal,normal,notpresent,notpresent,no,no,no,yes,poor,no,yes
2,a,normal,normal,notpresent,notpresent,no,no,no,yes,poor,no,yes
3,d,normal,normal,notpresent,notpresent,no,no,no,yes,poor,yes,yes
4,c,normal,normal,notpresent,notpresent,no,no,no,yes,poor,no,yes
...,...,...,...,...,...,...,...,...,...,...,...,...
394,a,normal,normal,notpresent,notpresent,no,no,no,yes,poor,no,yes
395,c,normal,normal,notpresent,notpresent,yes,yes,no,yes,poor,yes,yes
396,c,normal,normal,notpresent,notpresent,yes,yes,no,poor,poor,no,yes
397,a,normal,normal,notpresent,notpresent,yes,yes,no,yes,poor,yes,yes
398,a,normal,normal,notpresent,notpresent,no,no,no,yes,poor,no,no

In [33]:
dataset[qual].isnull().sum()

sg                0
rbc               0
pc                0
pcc               0
ba                0
htn               0
dm                0
cad               0
appet             0
pe                0
ane               0
classification    0
dtype: int64

In [34]:
import numpy as np
from sklearn.impute import SimpleImputer
imp=SimpleImputer(missing_values=np.nan, strategy='mean')
imp.fit(dataset[quan])
df=imp.transform(dataset[quan])
df=pd.DataFrame(df,columns=quan)

In [35]:
df

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,pcv,wc,rc
0,2.000000,76.459948,3.0,0.0,148.112676,57.482105,3.077356,137.528754,4.627244,12.518156,38.868902,8408.191126,4.705597
1,3.000000,76.459948,2.0,0.0,148.112676,22.000000,0.700000,137.528754,4.627244,10.700000,34.000000,12300.000000,4.705597
2,4.000000,76.459948,1.0,0.0,99.000000,23.000000,0.600000,138.000000,4.400000,12.000000,34.000000,8408.191126,4.705597
3,5.000000,76.459948,1.0,0.0,148.112676,16.000000,0.700000,138.000000,3.200000,8.100000,38.868902,8408.191126,4.705597
4,5.000000,50.000000,0.0,0.0,148.112676,25.000000,0.600000,137.528754,4.627244,11.800000,36.000000,12400.000000,4.705597
...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,0.0,0.0,219.000000,36.000000,1.300000,139.000000,3.700000,12.500000,37.000000,9800.000000,4.400000
395,51.492308,70.000000,0.0,2.0,220.000000,68.000000,2.800000,137.528754,4.627244,8.700000,27.000000,8408.191126,4.705597
396,51.492308,70.000000,3.0,0.0,110.000000,115.000000,6.000000,134.000000,2.700000,9.100000,26.000000,9200.000000,3.400000
397,51.492308,90.000000,0.0,0.0,207.000000,80.000000,6.800000,142.000000,5.500000,8.500000,38.868902,8408.191126,4.705597
398,51.492308,80.000000,0.0,0.0,100.000000,49.000000,1.000000,140.000000,5.000000,16.300000,53.000000,8500.000000,4.900000

In [36]:
df.isnull().sum()

age     0
bp      0
al      0
su      0
bgr     0
bu      0
sc      0
sod     0
pot     0
hrmo    0
pcv     0
wc      0
rc      0
dtype: int64

In [37]:
dataset[qual]

,sg,rbc,pc,pcc,ba,htn,dm,cad,appet,pe,ane,classification
0,c,normal,abnormal,notpresent,notpresent,no,no,no,yes,yes,no,yes
1,c,normal,normal,notpresent,notpresent,no,no,no,yes,poor,no,yes
2,a,normal,normal,notpresent,notpresent,no,no,no,yes,poor,no,yes
3,d,normal,normal,notpresent,notpresent,no,no,no,yes,poor,yes,yes
4,c,normal,normal,notpresent,notpresent,no,no,no,yes,poor,no,yes
...,...,...,...,...,...,...,...,...,...,...,...,...
394,a,normal,normal,notpresent,notpresent,no,no,no,yes,poor,no,yes
395,c,normal,normal,notpresent,notpresent,yes,yes,no,yes,poor,yes,yes
396,c,normal,normal,notpresent,notpresent,yes,yes,no,poor,poor,no,yes
397,a,normal,normal,notpresent,notpresent,yes,yes,no,yes,poor,yes,yes
398,a,normal,normal,notpresent,notpresent,no,no,no,yes,poor,no,no

In [38]:
import numpy as np
from sklearn.impute import SimpleImputer
imp=SimpleImputer(missing_values=np.nan, strategy='median')
imp.fit(dataset[qual])
cate=imp.transform(dataset[qual])
cate=pd.DataFrame(cate,columns=qual)

AttributeError: 'DataFrame' object has no attribute 'dtype'

In [ ]:
dataset[qual].isnull().sum()